<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Publicaciones</h1>
    <a href="{% url 'crear_publicacion' %}">Crear nueva publicación</a>
    <ul>
        {% for publicacion in publicaciones %}
            <li>
                <a href="{% url 'detalle_publicacion' publicacion.pk %}">{{ publicacion.titulo }}</a>
                <p>{{ publicacion.contenido|truncatewords:20 }}</p>
                <p>{{ publicacion.fecha_publicacion }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>